{:deps {org.apache.maven/maven-core {:mvn/version "3.6.3"}
        org.clojure/tools.cli {:mvn/version "0.4.2"}
        org.danielsz/lang-utils {:mvn/version "0.1.3"}}
 :aliases {:repl {:extra-deps {nrepl {:mvn/version "0.7.0"}
                               cider/cider-nrepl {:mvn/version "0.25.0-alpha1"}
                               cider/piggieback {:mvn/version "0.4.2"}
                               org.danielsz/meyvn-nrepl-middleware {:mvn/version "1.1.2"}
                               org.danielsz/system {:mvn/version "0.4.5"}}}}}
