{:pom {:group-id "org.meyvn"
       :artifact-id "meyvn-installer"
       :version "1.4.7"
        :name "Meyvn installer"
       :description "Installer for Meyvn (Clojure build tool)"
       :url "https://meyvn.org/"
       :licenses [{:name "Personal license"
                   :url "https://meyvn.org/download?file=personal_licence_agreement.pdf" }
                  {:name "Commercial license"
                   :url "https://meyvn.org/download?file=commercial_licence_agreement.pdf" }
                  {:name "Non-commercial license"
                   :url "https://meyvn.org/download?file=non_commercial_licence_agreement.pdf" }]
       :developers [{:name "Daniel Szmulewicz"
                     :email "daniel.szmulewicz@gmail.com"
                     :organization "Sapiens Sapiens"
                     :organization-url "https://meyvn.org"}]}
 :packaging {:uberjar {:enabled false}
             :jar {:enabled true}}
 :interactive {:enabled true
               :reload-on-save true
               :tools-deps-alias :repl
               :repl-port :auto
               :repl-host "127.0.0.1"}
 :scm {:enabled true}
 :gpg {:enabled true
       :keyname "BA33576B24FF371BE0245E3ED2DD64F0A30E1DD6"
       :passphrase-server-id "gpg-default-signing-key"}
 :sources {:enabled true}
 :stage {:enabled true
         :server-id "oss"
         :nexus-url "https://oss.sonatype.org/"}
 :distribution-management {:id "meyvn"
                           :url "https://nexus.tuppu.net/repository/meyvn/"}}
